


<div class="login-container">

    <label class="switch">
        <input type="checkbox">
        <span class="slider"></span>
    </label>

    
    <div id="owner-login-container" class="text-center mb-4">
        <h2>Login as an Owner</h2>
        <form class="form-group mx-auto" action="@Url.Action("OwnerLogin", "User")" method="post">


            <div class="form-group row m-3">
                    <label class="col-sm-2 col-form-label">Username:</label>
                    <div class="col-sm-6">
                        <input class="form-control mb-1" type="text" name="username" required />
                    </div>
                </div>
                <div class="form-group row m-3">
                    <label for="password" class="col-sm-2 col-form-label">Password:</label>
                    <div class="col-sm-6">
                        <input type="password" class="form-control" id="password" name="password" required />
                    </div>
                </div>
                <button class="btn btn-primary" type="submit">Login</button>
                @*<input type="checkbox" id="rememberMe" name="rememberMe"/>
                <label for"rememberMe">Remember Me</label>*@
           

        </form>
        <br />
        <br />
        <h4> Dont have an Owner account?</h4>
        <a asp-controller="User" asp-action="RegisterOwner">
            <button class="btn btn-primary mt-2">Create Account</button>
        </a>
    </div>

    <div id="sitter-login-container" class="text-center mb-4">
        <h2>Login as a Sitter</h2>
        <form class="form-group mx-auto" action="@Url.Action("LoginSitter", "User")" method="post">


            <div class="form-group row m-3">
                <label class="col-sm-2 col-form-label">Username:</label>
                <div class="col-sm-6">
                    <input class="form-control mb-1" type="text" name="username" required />
                </div>
            </div>
            <div class="form-group row m-3">
                <label class="col-sm-2 col-form-label">Password:</label>
                <div class="col-sm-6">
                    <input class="form-control" type="password" name="password" required />
                </div>
            </div>
            <button class="btn btn-primary" type="submit">Login</button>
            @*<input type="checkbox" id="rememberMe" name="rememberMe" />
            <label for"rememberMe">Remember Me</label>*@


        </form>
        <br />
        <br />
        <h4> Dont have a Sitter account?</h4>
        <a asp-controller="User" asp-action="RegisterSitter">
            <button class="btn btn-primary mt-2">Create Account</button>
        </a>
    </div>
</div>

