<div align="center" class="" style="margin-top: 12vh">
    <i class="fa-regular fa-face-frown text-danger mb-5" style="font-size: 12rem"></i>
    <h1><b>Sorry!</b></h1>
    <h1 class="mb-5"><b>We were unable to complete your request. Please try again.</b></h1>



    <a asp-controller="Owner" asp-action="OwnerDashboard" class="btn btn-outline-danger">Back To Dashboard</a>
</div>