@model Pet



<div class="progress">
    <div class="progress-bar bg-success" role="progressbar" style="width: 75%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
</div>


<div class="row">
    <div class="col-md-4">
        <form asp-action="CreatePet" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PetPictures">Upload pictures of your pet.</label>
                <input type="file" id="PetPictures" name="uploadedPictures" multiple/>
            </div>
            <div class="form-group">
                <label asp-for="Species" class="control-label">Type</label>
                <input asp-for="Species" class="form-control" />
                <span asp-validation-for="Species" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="Age" class="control-label"></label>
                <input asp-for="Age" class="form-control" />
                <span asp-validation-for="Age" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="Breed" class="control-label"></label>
                <input asp-for="Breed" class="form-control" />
                <span asp-validation-for="Breed" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Chipped" /> @Html.DisplayNameFor(model => model.Chipped)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Spayed" /> @Html.DisplayNameFor(model => model.Spayed)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Friendly" /> @Html.DisplayNameFor(model => model.Friendly)
                </label>
            </div>
            <div class="mb-3">
                <label asp-for="DateOfBirth">Date of Birth</label>
                <input type="date" asp-for="DateOfBirth" class="form-control" />
                <span asp-validation-for="DateOfBirth" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="AdoptionDate" class="control-label">Adoption Date</label>
                <input type="month" asp-for="AdoptionDate" class="form-control" />
                <span asp-validation-for="AdoptionDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="About" class="control-label"></label>
                <input asp-for="About" class="form-control" />
                <span asp-validation-for="About" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Care" class="control-label"></label>
                <input asp-for="Care" class="form-control" />
                <span asp-validation-for="Care" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="PottyTrained" /> Potty Trained
                </label>
            </div>
            <div class="form-group">
                <label asp-for="EnergyLevel" class="control-label">Energy Level</label>
                <input asp-for="EnergyLevel" class="form-control" />
                <span asp-validation-for="EnergyLevel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FeedingSchedule" class="control-label">Feeding Schedule</label>
                <input asp-for="FeedingSchedule" class="form-control" />
                <span asp-validation-for="FeedingSchedule" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LeftAlone" class="control-label">Left Alone</label>
                <input asp-for="LeftAlone" class="form-control" />
                <span asp-validation-for="LeftAlone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MedicalInformation" class="control-label">Medical Information</label>
                <input asp-for="MedicalInformation" class="form-control" />
                <span asp-validation-for="MedicalInformation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AdditionalInfo" class="control-label">Additional Info</label>
                <input asp-for="AdditionalInfo" class="form-control" />
                <span asp-validation-for="AdditionalInfo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VetInformation" class="control-label">Vet Info</label>
                <input asp-for="VetInformation" class="form-control" />
                <span asp-validation-for="VetInformation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@*<div>
    <a asp-action="OwnerDashboard" asp-controller="Owner" class="btn btn-danger">Back to Dashboard</a>
</div>*@

