@model Owner

<form method="post">
    <div class="border p-3 mt4">
        <div class="row pb-2">
            <h2 class="text-primary">Create User</h2>
        </div>
        @*<div asp-validation-summary="All"></div>*@
        <div class="mb-3">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Email"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Age"></label>
            <input asp-for="Age" class="form-control" />
            <span asp-validation-for="Age" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="ImageUrl"></label>
            <input asp-for="ImageUrl" class="form-control" />
            <span asp-validation-for="ImageUrl" class="text-danger"></span>
        </div>
    </div>
    <button type="submit" class="btn btn-primary" style="width:150px">Create</button>
    <a asp-controller="Owner" asp-action="Dashboard" class="btn btn-secondary" style="width:150px">
        Back
    </a>
</form>


@*@section Scripts
{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}*@