@model PetSitApp.Models.Sitter

<div class="progress mt-xxl-5" style="margin-top: 10vh;">
    <div class="progress-bar bg-success" role="progressbar" style="width: 40%;" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
</div>


<div>
    <div class="col-md-8">
        <form method="post" enctype="multipart/form-data">
            
            <div class="p-3 mt4">
                <div class="row pb-2">
                    <h2 class="text-primary">Add more info to your profile</h2>
                </div>

                <div class="mb-3 col-5">
                    <label asp-for="ProfilePicture">Profile Picture</label>
                    <input asp-for="ProfilePicture" class="form-control" type="file" accept=".jpg,.jpeg" />
                    <span asp-validation-for="ProfilePicture" class="text-danger"></span>
                </div>

                <div class="row">
                    <div class="mb-3 col-5">
                        <label asp-for="FirstName" class="control-label">First Name</label>
                        <input asp-for="FirstName" class="form-control" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                    <div class="mb-3 col-5">
                        <label asp-for="LastName" class="control-label">Last Name</label>
                        <input asp-for="LastName" class="form-control" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                </div>

                <div class="mb-3 form-group">
                    <label asp-for="Bio" class="control-label">Bio</label>
                    <textarea asp-for="Bio" class="form-control" rows="4"></textarea>
                    <span asp-validation-for="Bio" class="text-danger"></span>
                </div>
                <div class="mb-3 col-md-5">
                    <label asp-for="DateOfBirth">Date of Birth</label>
                    <input type="date" asp-for="DateOfBirth" class="form-control" />
                    <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                </div>
                <div class="mb-3 col-md-8">
                    <label asp-for="Address" class="control-label"></label>
                    <input asp-for="Address" class="form-control" />
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>

                <div class="row">
                    <div class="mb-3 col-md-5">
                        <label asp-for="City" class="control-label"></label>
                        <input asp-for="City" class="form-control" />
                        <span asp-validation-for="City" class="text-danger"></span>
                    </div>
                    <div class="mb-3 col-md-2">
                        <label asp-for="State" class="control-label"></label>
                        <input asp-for="State" class="form-control" />
                        <span asp-validation-for="State" class="text-danger"></span>
                    </div>
                    <div class="mb-3 col-md-2">
                        <label asp-for="Zip" class="control-label"></label>
                        <input asp-for="Zip" class="form-control" />
                        <span asp-validation-for="Zip" class="text-danger"></span>
                    </div>
                </div>

            </div>
            
            <button type="submit" class="btn btn-primary">Next</button>
        </form>
    </div>
</div>


